body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.paragraph {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  align-items: center;
  justify-content: center;
}

.paragraph.main {
    font-size: calc(35px + 2vmin);
    color: white;
    padding-bottom: 30px;
}

.paragraph.sub {
  color: white;
  font-size: calc(8px + 1vmin);
}